<table class='table'>
  {{#each this.dogs}}
    <tbody class='table-body'>
      <tr>
        <th>Dog Name</th>
        <td>{{dog_name}}</td>
      </tr>
      <tr>
        <th>Size</th>
        <td>{{size}}</td>
      </tr>
      <tr>
        <th><a href='/owner/dashboard/dog-schedule/{{id}}'>Schedule</a></th>
      </tr>
    </tbody>
  {{/each}}
</table>