  <table class='table'>
    <tbody>
      {{#each this.dogs}}
      <tr>
        <th>Dog Name</th>
        <td>{{dog_name}}</td>
      </tr>
      <tr>
        <th>Size</th>
        <td>{{size}}</td>
      </tr>
      <tr>
        <th><a href='/owner/dashboard/dog-schedule/{{id}}'>Schedule</a></th>
      </tr>
      {{/each}} 
      {{!-- {{> walkers-dog this.calendar}} --}}
    </tbody>
  </table>
 
