<!--Partial for a dog's schedule. The API call 
requires data from Calendar, Walker, and Dog
so this way it looks much cleaner and not as 
confusing-->
      {{#each this}}
        <tr>
          <td>{{day}}</td>
          <td>{{time}}</td>
          <td>{{walker.walker_name}}</td>
        </tr>
      {{/each}}