<div class='columns'>
  <div class='column is-full bg-photo'>
    <img src='/public/img/about_us.png' alt='a person walking many dogs' />

    <div class='box has-text-centered'>
      <h1 class='about-title is-size-1'>About Us</h1>
      <p class='about-content'>
        Welcome to the best dog walking service command center
      </p>
      <br />
      <p class='about-content'>
        Our mission is to make your busy daily life easier and have the best dog
        walking service experience
      </p>
      <p class='about-content'>
        Founded in 2022, the WAG application connects dog parents with the best
        dog walkers in neighborhoods across the United States.
      </p>
    </div>
  </div>
</div>

<div class='columns'>
  <div class='column is-one-third'>
    <div class='card has-text-centered'>
      <div class='card-image is-justify-content-center'>
        <figure class='image is-square'>
          <img
            class='is-rounded'
            src='/public/img/danny.png'
            alt='danny avatar'
          />
        </figure>
      </div>
      <div class='media-content mt-3'>
        <p class='title is-4'>Danny Ramirez</p>
      </div>

      <div class='content has-text-weight-light'>
        FOUNDER & FULL-STACK DEVELOPER
      </div>
      <a href='https://github.com/dannyramirezgd' target='_blank'>
        <img
          src='/public/img/gitHubLogo.png'
          width='40'
          height='40'
          alt='github logo'
        />
      </a>
    </div>
  </div>

  <div class='column is-one-third'>
    <div class='card has-text-centered'>
      <div class='card-image is-justify-content-center'>
        <figure class='image is-square'>
          <img
            class='is-rounded'
            src='/public/img/chris.png'
            alt='chris avatar'
          />
        </figure>
      </div>
      <div class='media-content mt-3'>
        <p class='title is-4'>Chris Backes</p>
      </div>

      <div class='content has-text-weight-light'>
        CO-FOUNDER & FULL-STACK DEVELOPER
      </div>
      <a href='https://github.com/chris-backes' target='_blank'>
        <img
          src='/public/img/gitHubLogo.png'
          width='40'
          height='40'
          alt='github logo'
        />
      </a>
    </div>
  </div>

  <div class='column is-one-third'>
    <div class='card has-text-centered'>
      <div class='card-image is-justify-content-center'>
        <figure class='image is-square'>
          <img class='is-rounded' src='/public/img/dk.png' alt='dk avatar' />
        </figure>
      </div>
      <div class='media-content mt-3'>
        <p class='title is-4'>Daniel Kim</p>
      </div>

      <div class='content has-text-weight-light'>
        CO-FOUNDER & FULL-STACK DEVELOPER
      </div>
      <a href='https://github.com/danielkim13' target='_blank'>
        <img
          src='/public/img/gitHubLogo.png'
          width='40'
          height='40'
          alt='github logo'
        />
      </a>
    </div>
  </div>
</div>