<form class='signup-form'>
    <h2>Congrats on your new dog!</h2>
    <h3>Please fill in your dog's information below</h3>
  <div>
    <label for='dog-name'>Dog Name:</label>
    <input type='text' id='dog-name' />
  </div>
  <div>
    <label for='size'>Dog's Size:</label>
    <select name='size' id='size'>
        <option value='small'>Small</option>
        <option value='medium'>Medium</option>
        <option value='large'>Large</option>
        <option value='XL'>XL+</option>
    </select>
  </div>
<button type="submit" id="addDog">Add Dog</button>

<script src='/js/add-dog.js'></script>
