<p>Here is your dog's schedule</p>
<div class='content mt-3'>
  <table class='table'>
    <thead>
      <th>Day</th>
      <th>Time</th>
      <th>Walker</th>
    </thead>
    <tbody>
{{> walkers-dog dogSchedule}}
    </tbody>
  </table>
</div>