    <div class="columns mt-2">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="box has-text-centered">
          <p class="prompt">Please Sign In</p>
        </div>

        <form class="box">
          <div class="field">
            <label class="label" for="email-login">Email:</label>
            <div class="control has-icons-left">
              <input id="email-login" class="input" type="email" placeholder="e.g. danny@example.com">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-envelope"></i>
              </span>
            </div>
          </div>
        
          <div class="field">
            <label class="label" for="password-login">Password:</label>
            <div class="control has-icons-left">
              <input id="password-login" class="input" type="password" placeholder="********">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-key"></i>
              </span>
            </div>
          </div>
        
          <button type="submit" class="button is-link">Sign in</button>
        </form>

          <div class="box has-text-centered mt-5 prompt">
            <p>Don't have an account? Create one here!</p>
          </div>

          <div class="control mt-3">
            <p><b>Are you a dog owner?</b></p>
            <a href="/owner/sign-up"><button type="submit" class="button is-primary">Sign Up</button></a>
          </div>

          <div class="control my-3">
            <p><b>Are you a dog walker?</b></p>
            <a href="/walker/login"><button type="button" class="button is-info">Login Here</button></a>
          </div>

    <script src="/js/login.js"></script>