<section>
    <img src=""/>
    profile picture
    <div>
        <ul>
            Owner Info
            <li>
                {{owner_name}}
            </li>
            <li>
                {{email}}
            </li>
            <li>
                {{address}}
            </li>
            <li>
                {{phone}}
            </li>
        </ul>
    </div>
</section>