<div class='columns mt-2'>
  <div class='column is-three-fifths is-offset-one-fifth'>
    <div class='box has-text-centered'>
      <p class='prompt'>Please Sign In with your Walker Credentials</p>
    </div>

    <form class='box'>
      <div class='field'>
        <label class='label' for='email-login'>Email:</label>
        <div class='control has-icons-left'>
          <input
            id='email-login'
            class='input'
            type='email'
            placeholder='e.g. danny@example.com'
          />
          <span class='icon is-small is-left'>
            <i class='fa-solid fa-envelope'></i>
          </span>
        </div>
      </div>

      <div class='field'>
        <label class='label' for='password-login'>Password:</label>
        <div class='control has-icons-left'>
          <input
            id='password-login'
            class='input'
            type='password'
            placeholder='********'
          />
          <span class='icon is-small is-left'>
            <i class='fa-solid fa-key'></i>
          </span>
        </div>
      </div>

      <button type='submit' class='button is-link'>Sign in</button>
    </form>

    <div class='box has-text-centered mt-5 prompt'>
      <p>Don't have an account? Create one here!</p>
    </div>

    <div class='control my-3'>
      <a href='/walker/sign-up'><button
          type='button'
          class='button is-info'
        >Sign Up</button></a>
    </div>
  </div>
</div>
<script src='/js/walker-login.js'></script>