<section class='section'>
  <div class='columns mt-3'>
    <div class='column is-three-fifths is-offset-one-fifth'>
      <div class='box has-text-centered prompt'>
        <p>Thank you for your commitment to be a Walker!</p>
        <p>Please fill in your information below</p>
      </div>
      <form class='signup-form'>
        <div class='field'>
          <label class='label' for='email-signup'>Email:</label>
          <div class='control has-icons-left'>
            <input
              id='email-signup'
              class='input'
              type='email'
              placeholder='e.g. johndoe@gmail.com'
            />
            <span class='icon is-small is-left'>
              <i class='fa-solid fa-envelope'></i>
            </span>
          </div>
        </div>

        <div class='field'>
          <label class='label' for='password-signup'>Password:</label>
          <div class='control has-icons-left'>
            <input
              id='password-signup'
              class='input'
              type='password'
              placeholder='********'
            />
            <span class='icon is-small is-left'>
              <i class='fa-solid fa-key'></i>
            </span>
          </div>
        </div>

        <div class='field'>
          <label class='label' for='name-signup'>Name:</label>
          <div class='control has-icons-left'>
            <input
              id='name-signup'
              class='input'
              type='text'
              placeholder="what's your name?"
            />
            <span class='icon is-small is-left'>
              <i class='fa-solid fa-user'></i>
            </span>
          </div>
        </div>

        <div class='field'>
          <label class='label' for='phone-signup'>phone number:</label>
          <div class='control has-icons-left'>
            <input
              id='phone-signup'
              class='input'
              type='tel'
              placeholder='your phone number?'
            />
            <span class='icon is-small is-left'>
              <i class='fa-solid fa-phone'></i>
            </span>
          </div>
        </div>

        <div class='field'>
          <label class='label' for='hourly-rate'>hourly rate:</label>
          <div class='control has-icons-left'>
            <input
              id='hourly-rate'
              class='input'
              type='number'
              placeholder='$'
            />
            <span class='icon is-small is-left'>
              <i class='fa-solid fa-money-bill-1-wave'></i>
            </span>
          </div>
        </div>

        <div class='control my-5'>
          <button type='submit' class='button is-link'>Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
<script src='/public/js/sign-up-walkers.js'></script>