<form class='signup-form'>
    <h2>Thank you for commitment to be a Walker!</h2>
    <h3>Please fill in your information below</h3>
  <div>
    <label for='email-signup'>email:</label>
    <input type='text' id='email-signup' />
  </div>
  <div>
    <label for='password-signup'>password:</label>
    <input type='password' id='password-signup' />
  </div>
  <div>
    <label for='name-signup'>Name:</label>
    <input type='text' id='name-signup' />
  </div>
  <div>
    <label for='phone-signup'>phone:</label>
    <input type='phone' id='phone-signup' />
  </div>
  <div>
      <label for='hourly-rate'>hourly rate:</label>
      <input type="number" id="hourly-rate" />
  </div>
  <div>
    <button type='submit'>signup</button>
  </div>
</form>

<script src='/js/sign-up-walkers.js'></script>